<!-- <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg rounded-3 p-5" style="max-width: 90%; width: 100%;">
      <div class="mb-4">
        <h1 class="text-center text-dark fw-semibold mb-4">Registrar Cuenta</h1>
        <div class="bg-light p-4 rounded-3">
          <form>
  
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" id="email" class="form-control" placeholder="name@domain.com" required />
            </div>
  
            <div class="mb-3">
              <label for="confirmEmail" class="form-label">Confirmar Correo Electrónico</label>
              <input type="email" id="confirmEmail" class="form-control" placeholder="name@domain.com" required />
            </div>
  
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" placeholder="Password" required />
            </div>
  
            <button type="submit" class="btn btn-primary w-100">Crear Cuenta</button>
          </form>
  
          <div class="mt-4 text-center">
            <p class="mb-1">
              ¿Ya tienes cuenta? 
              <a [routerLink]="['/login']" class="text-decoration-none text-primary fw-semibold">Inicia sesión aquí</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->


   <!-- <div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
      <h2 class="card-header text-center">Registrarse</h2>
      <div class="card-body">
        <form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="correo@ejemplo.com">
            <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="text-danger small">
              Correo inválido
            </div>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="••••••••">
            <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="text-danger small">
              Mínimo 6 caracteres
            </div>
          </div>
  
          <button type="submit" [disabled]="registroForm.invalid" class="btn btn-primary w-100">
            Registrarse
          </button>
        </form>
      </div>
    </div>
  </div>
   -->



   