<!-- <app-sidebar></app-sidebar>

<div class="content">
  <router-outlet style="background-color: blue; height: 100px; width: 100px;"></router-outlet> 
  <router-outlet style="background-color: rgb(255, 157, 0); height: 100px; width: 100px;"></router-outlet>
  <router-outlet style="background-color: rgb(224, 26, 86); height: 100px; width: 100px;"></router-outlet>
  
</div> -->


<app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>

<app-main
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  [screenWidth]="screenWidth()"
/>
